<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.ActivityMapper">
    <resultMap id="ActivityResult" type="com.example.entity.response.ActivityResp">
        <id column="activity_id" property="activityId"/>
        <result column="activity_title" property="activityTitle"/>
        <result column="content" property="content"/>
        <result column="activity_link" property="activityLink"/>
        <result column="views" property="views"/>
        <result column="create_by" property="createBy"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <collection property="emps" resultMap="EmpResult"/>
        <collection property="activityDetailResps"
                    resultMap="ActivityDetailResultMap"/>
    </resultMap>

    <resultMap id="ActivityDetailResultMap" type="com.example.entity.response.ActivityDetailResp">
        <id column="activity_detail_id" property="activityDetailId"/>
        <result column="activity_id" property="activityId"/>
        <result column="emp_id" property="empId"/>
        <result column="url" property="url"/>
        <result column="auth_date" property="authDate"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="EmpResult" type="com.example.entity.response.EmpResp">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="passWord" column="password"/>
        <result property="phone" column="phone"/>
        <result property="empStatus" column="emp_status"/>
        <result property="token" column="token"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <insert id="addActivity" parameterType="com.example.entity.request.ActivityReq">
        <selectKey keyColumn="activity_id" keyProperty="activityId" resultType="Integer" order="AFTER">
            select last_insert_id();
        </selectKey>
        INSERT INTO activity(activity_title,content,activity_link,views,create_by,start_time,end_time)
        VALUES (#{activityTitle},#{content},#{activityLink},#{views},#{createBy},#{startTime},#{endTime})
    </insert>

    <update id="editActivity" parameterType="com.example.entity.request.ActivityReq">
        UPDATE activity SET update_time = #{updateTime},version = version + 1
        <if test="activityTitle != null and activityTitle != ''">
            ,activity_title = #{activityTitle}
        </if>
        <if test="content != null and content != ''">
            ,content = #{content}
        </if>
        <if test="activityLink != null and activityLink != ''">
            ,activity_link = #{activityLink}
        </if>
        <if test="startTime != null and startTime != ''">
            ,start_time = #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            ,end_time = #{endTime}
        </if>
        WHERE activity_id = #{activityId} AND version = #{version}
    </update>

    <update id="delActivity" parameterType="Integer">
        UPDATE activity SET is_delete = 1,version = version + 1
        WHERE activity_id = #{activityId}
    </update>

    <select id="getActivity" resultMap="ActivityResult" parameterType="Integer">
        SELECT a.activity_id,a.activity_title,a.content,a.activity_link,a.views,
                a.create_by,a.start_time,a.end_time,a.version,a.create_time,
                a.update_time,a.is_delete,
                ad.activity_detail_id,ad.activity_id,ad.emp_id,ad.url,ad.auth_date,ad.version,
                ad.create_time,ad.update_time
        FROM activity a
        INNER JOIN activity_detail ad ON ad.activity_id = a.activity_id
        WHERE a.activity_id = #{activityId}
    </select>

    <select id="listActivity" resultMap="ActivityResult">
        SELECT activity_id,activity_title,content,activity_link,views,create_by,
            start_time,end_time,version,create_time,update_time,is_delete
        FROM activity
        <where>
            <if test="activityTitle != null and activityTitle != ''">
                AND activity_title LIKE CONCAT('%',#{activityTitle},'%')
            </if>
            AND is_delete = 0
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="checkActivity" resultType="int">
        SELECT COUNT(activity_title) FROM activity
        WHERE activity_title = #{activityTitle}
    </select>
    
    <!--<update id="batchEditActivity" parameterType="com.example.entity.request.ActivityReq">
        UPDATE activity SET emp_id = #{empId}
        WHERE activity_id IN
        <foreach collection="activityIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>-->

    <select id="listByEmp" resultMap="ActivityResult">
        SELECT a.activity_id,a.activity_title,a.content,a.activity_link,a.views,
                a.create_by,a.start_time,a.end_time,a.version,a.create_time,
                a.update_time,a.is_delete
        FROM activity a
        LEFT JOIN activity_emp ae ON ae.activity_id = a.activity_id
        LEFT JOIN emp e ON e.emp_id = ae.emp_id
        WHERE e.emp_id = #{empId} AND a.is_delete = 0
    </select>

    <update id="addViews">
        UPDATE activity SET views = views + 1 WHERE activity_id = #{activityId}
    </update>

    <select id="pageViewCount" resultType="int">
        SELECT SUM(views) FROM activity;
    </select>
</mapper>