<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.CareMapper">
<resultMap id="CareResult" type="com.example.entity.request.Care">
    <id property="careId" column="care_id"/>
    <result property="careZt" column="care_carezt"/>
    <result property="carelxrcontacts" column="care_lxrcontacts"/>
    <result property="careData" column="care_date"/>
    <result property="careexecutor" column="care_executor"/>
    <result property="carenr" column="care_carenr"/>
    <result property="carecustomerfk" column="care_customerfk"/>
</resultMap>

    <resultMap id="CareDetailResult" type="com.example.entity.request.Care">
        <id property="careId" column="care_id"/>
        <result property="careZt" column="care_carezt"/>
        <result property="carelxrcontacts" column="care_lxrcontacts"/>
        <result property="careData" column="care_date"/>
        <result property="careexecutor" column="care_executor"/>
        <result property="carenr" column="care_carenr"/>
        <result property="carecustomerfk" column="care_customerfk"/>
        <association property="customerReq" resultMap="CustomerResult"/>
    </resultMap>

    <resultMap id="CustomerResult" type="com.example.entity.response.CustomerResp">
        <id column="cus_id" property="cusId"/>
        <result column="cus_name" property="cusName"/>
        <result column="life_cycle" property="lifeCycle"/>
        <result column="first_signing_time" property="firstSigningTime"/>
        <result column="abbreviation" property="abbreviation"/>
        <result column="credit" property="credit"/>
        <result column="settlement" property="settlement"/>
        <result column="company_account" property="companyAccount"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="cus_remark" property="cusRemark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="cus_dict_source" property="cusDictSource"/>
        <result column="cus_dict_stage" property="cusDictStage"/>
        <result column="qualitative_id" property="qualitativeId"/>
        <result column="grading_id" property="gradingId"/>
        <result column="ration_id" property="rationId"/>
        <result column="emp_id" property="empId"/>
    </resultMap>
<insert id="addCare" parameterType="com.example.entity.request.Care">
    <selectKey keyProperty="careId" keyColumn="care_id" resultType="Integer" order="AFTER">
        SELECT last_insert_id();
    </selectKey>
    insert into care(care_carezt,care_lxrcontacts,care_date,care_executor,care_carenr,care_customerfk) VALUES
    (#{careZt},#{carelxrcontacts},#{careData},#{careexecutor},#{carenr},#{carecustomerfk})
</insert>

<update id="updateCare" parameterType="com.example.entity.request.Care">
    update care set care_date = #{careData}
    <if test="careZt !=null and careZt != ''">
        ,care_carezt = #{careZt}
    </if>
    <if test="carelxrcontacts !=null and carelxrcontacts != ''">
        ,care_lxrcontacts = #{carelxrcontacts}
    </if>
    <if test="careexecutor !=null and careexecutor != ''">
        ,care_executor = #{careexecutor}
    </if>
    <if test="carenr !=null and carenr != ''">
        ,care_carenr = #{carenr}
    </if>
    <if test="carecustomerfk !=null and carecustomerfk != ''">
        ,care_customerfk = #{carecustomerfk}
    </if>
    where care_id = #{careId}
</update>
<delete id="deleteCare" parameterType="Integer">
        DELETE FROM care WHERE care_id = #{careId}
    </delete>
<select id="listCare" resultMap="CareDetailResult" parameterType="com.example.entity.request.Care">
    SELECT s.care_id,s.care_carezt,s.care_lxrcontacts,s.care_date,s.care_executor,s.care_carenr,s.care_customerfk,
    c.*
    FROM care s
    left join customer c on s.cus_id = c.cus_id
    <where>
        <if test="careZt != null and careZt != ''">
            AND s.care_carezt LIKE CONCAT('%',#{careZt},'%')
        </if>
        <if test="carelxrcontacts != null and carelxrcontacts != ''">
            AND s.care_lxrcontacts LIKE CONCAT('%',#{carelxrcontacts},'%')
        </if>
        <if test="careexecutor != null and careexecutor != ''">
            AND s.care_executor LIKE CONCAT('%',#{careexecutor},'%')
        </if>
        <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
            AND date_format(s.care_date,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
            AND date_format(s.care_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
    </where>
    ORDER BY s.care_date DESC
</select>

    <select id="getCare" resultMap="CareResult">
        SELECT * FROM care WHERE care_id = #{careId}
    </select>
</mapper>