<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.CareMapper">
<resultMap id="CareResult" type="com.example.entity.request.Care">
    <id property="careId" column="care_id"/>
    <result property="careZt" column="care_carezt"/>
    <result property="carelxrcontacts" column="care_lxrcontacts"/>
    <result property="careData" column="care_date"/>
    <result property="careexecutor" column="care_executor"/>
    <result property="carenr" column="care_carenr"/>
    <result property="carecustomerfk" column="care_customerfk"/>
</resultMap>
<insert id="addCare" parameterType="com.example.entity.request.Care">
    <selectKey keyProperty="careId" keyColumn="care_id" resultType="Integer" order="AFTER">
        SELECT last_insert_id();
    </selectKey>
    insert into care(care_carezt,care_lxrcontacts,care_date,care_executor,care_carenr,care_customerfk) VALUES
    (#{careZt},#{carelxrcontacts},#{careData},#{careexecutor},#{carenr},#{carecustomerfk})
</insert>

<update id="updateCare" parameterType="com.example.entity.request.Care">
    update care set care_date = #{careData}
    <if test="careZt !=null and careZt != ''">
        ,care_carezt = #{careZt}
    </if>
    <if test="carelxrcontacts !=null and carelxrcontacts != ''">
        ,care_lxrcontacts = #{carelxrcontacts}
    </if>
    <if test="careexecutor !=null and careexecutor != ''">
        ,care_executor = #{careexecutor}
    </if>
    <if test="carenr !=null and carenr != ''">
        ,care_carenr = #{carenr}
    </if>
    <if test="carecustomerfk !=null and carecustomerfk != ''">
        ,care_customerfk = #{carecustomerfk}
    </if>
    where care_id = #{careId}
</update>
<delete id="deleteCare" parameterType="Integer">
        DELETE FROM care WHERE care_id = #{careId}
    </delete>
<select id="listCare" resultMap="CareResult">
    SELECT care_id,care_carezt,care_lxrcontacts,care_date,care_executor,care_carenr,care_customerfk
    FROM care
    <where>
        <if test="careZt != null and careZt != ''">
            AND care_carezt LIKE CONCAT('%',#{careZt},'%')
        </if>
        <if test="carelxrcontacts != null and carelxrcontacts != ''">
            AND care_lxrcontacts LIKE CONCAT('%',#{carelxrcontacts},'%')
        </if>
        <if test="careexecutor != null and careexecutor != ''">
            AND care_executor LIKE CONCAT('%',#{careexecutor},'%')
        </if>
    </where>
</select>

    <select id="getCare" resultMap="CareResult">
        SELECT * FROM care WHERE care_id = #{careId}
    </select>
</mapper>