<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.CustomerMapper">
    <resultMap id="CustomerResult" type="com.example.entity.response.CustomerResp">
        <id column="cus_id" property="cusId"/>
        <result column="cus_name" property="cusName"/>
        <result column="life_cycle" property="lifeCycle"/>
        <result column="sany_guest_id" property="sanyGuestId"/>
        <result column="first_signing_time" property="firstSigningTime"/>
        <result column="abbreviation" property="abbreviation"/>
        <result column="credit_id" property="creditId"/>
        <result column="settlement" property="settlement"/>
        <result column="company_account" property="companyAccount"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="cus_remark" property="cusRemark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="cus_dict_source" property="cusDictSource"/>
        <result column="cus_dict_stage" property="cusDictStage"/>
        <result column="qualitative_id" property="qualitativeId"/>
        <result column="grading_id" property="gradingId"/>
        <result column="ration_id" property="rationId"/>
        <result column="emp_id" property="empId"/>
    </resultMap>

    <resultMap id="CustomerResultDetail" type="com.example.entity.response.CustomerResp">
        <id column="cus_id" property="cusId"/>
        <result column="cus_name" property="cusName"/>
        <result column="life_cycle" property="lifeCycle"/>
        <result column="sany_guest_id" property="sanyGuestId"/>
        <result column="first_signing_time" property="firstSigningTime"/>
        <result column="abbreviation" property="abbreviation"/>
        <result column="credit_id" property="creditId"/>
        <result column="settlement" property="settlement"/>
        <result column="company_account" property="companyAccount"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="cus_remark" property="cusRemark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="cus_dict_source" property="cusDictSource"/>
        <result column="cus_dict_stage" property="cusDictStage"/>
        <result column="qualitative_id" property="qualitativeId"/>
        <result column="grading_id" property="gradingId"/>
        <result column="ration_id" property="rationId"/>
        <result column="emp_id" property="empId"/>
        <association property="empResp" resultMap="EmpResult"/>
    </resultMap>

    <resultMap id="EmpResult" type="com.example.entity.response.EmpResp">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="passWord" column="password"/>
        <result property="phone" column="phone"/>
        <result property="empStatus" column="emp_status"/>
        <result property="token" column="token"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <insert id="addCustomer" parameterType="com.example.entity.request.CustomerReq">
        <selectKey keyColumn="cus_id" keyProperty="cusId" resultType="Integer" order="AFTER">
            select last_insert_id();
        </selectKey>
        INSERT INTO customer(cus_name,life_cycle,sany_guest_id,first_signing_time,abbreviation,credit_id,settlement,
            company_account,province,city,detail_address,cus_remark,cus_dict_source,cus_dict_stage,
            qualitative_id,grading_id,ration_id,emp_id) VALUES
        (#{cusName},#{lifeCycle},#{sanyGuestId},#{firstSigningTime},#{abbreviation},#{creditId},#{settlement},#{companyAccount},#{province},
        #{city},#{detailAddress},#{cusRemark},#{cusDictSource},#{cusDictStage},#{qualitativeId},#{gradingId},#{rationId},#{empId})
    </insert>

    <update id="delCustomer" parameterType="Integer">
        UPDATE customer SET is_delete = 1,version = version + 1 WHERE cus_id = #{cusId}
    </update>

    <update id="editCustomer" parameterType="com.example.entity.request.CustomerReq">
        UPDATE customer SET update_time = #{updateTime},version = version + 1
        <if test="cusName != null and cusName != ''">
            ,cus_name = #{cusName}
        </if>
        <if test="lifeCycle != null">
            ,life_cycle = #{lifeCycle}
        </if>
        <if test="sanyGuestId != null">
            ,sany_guest_id = #{sanyGuestId}
        </if>
        <if test="firstSigningTime != null and firstSigningTime != ''">
            ,first_signing_time = #{firstSigningTime}
        </if>
        <if test="abbreviation != null and abbreviation != ''">
            ,abbreviation = #{abbreviation}
        </if>
        <if test="creditId != null and creditId != ''">
            ,credit_id = #{creditId}
        </if>
        <if test="settlement != null">
            ,settlement != #{settlement}
        </if>
        <if test="companyAccount != null and companyAccount != ''">
            ,company_account = #{companyAccount}
        </if>
        <if test="province != null">
            ,province = #{province}
        </if>
        <if test="city != null">
            ,city = #{city}
        </if>
        <if test="detailAddress != null and detailAddress != ''">
            ,detail_address = #{detailAddress}
        </if>
        <if test="cusRemark != null and cusRemark != ''">
            ,cus_remark = #{cusRemark}
        </if>
        <if test="cusDictSource != null and cusDictSource != ''">
            ,cus_dict_source = #{cusDictSource}
        </if>
        <if test="cusDictStage != null and cusDictStage != ''">
            ,cus_dict_stage = #{cusDictStage}
        </if>
        <if test="qualitativeId != null">
            ,qualitative_id = #{qualitativeId}
        </if>
        <if test="gradingId != null and">
            ,grading_id = #{gradingId}
        </if>
        <if test="rationId != null">
            ,ration_id = #{rationId}
        </if>
        <if test="empId != null">
            ,emp_id = #{empId}
        </if>
        WHERE cus_id = #{cusId} AND version = #{version}
    </update>

    <select id="getCustomer" resultMap="CustomerResult">
        SELECT cus_id,cus_name,life_cycle,first_signing_time,abbreviation,credit_id,settlement,sany_guest_id,
            company_account,province,city,detail_address,cus_remark,cus_dict_source,cus_dict_stage,
            qualitative_id,grading_id,ration_id,emp_id
        FROM customer
        WHERE cus_id = #{cusId}
    </select>

    <select id="listCustomer" resultMap="CustomerResult">
        SELECT cus_id,cus_name,life_cycle,first_signing_time,abbreviation,credit_id,settlement,sany_guest_id,
            company_account,province,city,detail_address,cus_remark,cus_dict_source,cus_dict_stage,
            qualitative_id,grading_id,ration_id,emp_id
        FROM customer
        <where>
            <if test="cusName != null and cusName != ''">
                AND cus_name LIKE CONCAT('%',#{cusName},'%')
            </if>
            <if test="lifeCycle != null">
                AND life_cycle = #{lifeCycle}
            </if>
            <if test="sanyGuestId != null">
                AND sany_guest_id = #{sanyGuestId}
            </if>
            <if test="abbreviation != null and abbreviation != ''">
                AND abbreviation LIKE CONCAT('%',#{abbreviation},'%')
            </if>
            <if test="creditId != null">
                AND credit_id = #{creditId}
            </if>
            <if test="settlement != null">
                AND settlement = #{settlement}
            </if>
            <if test="companyAccount != null and companyAccount != ''">
                AND company_account LIKE CONCAT('%',#{companyAccount},'%')
            </if>
            <if test="empId != null">
                AND emp_id = #{empId}
            </if>
            <if test="cusDictSource != null">
                AND cus_dict_source = #{cusDictSource}
            </if>
            <if test="cusDictStage != null">
                AND cus_dict_stage = #{cusDictStage}
            </if>
            <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
            <if test="starSigningDate != null and starSigningDate != ''">
                AND date_format(first_signing_time,'%y%m%d') &gt;= date_format(#{starSigningDate},'%y%m%d')
            </if>
            <if test="endSigningDate != null and endSigningDate != ''">
                AND date_format(first_signing_time,'%y%m%d') &lt;= date_format(#{endSigningDate},'%y%m%d')
            </if>
            AND is_delete = 0
        </where>
        ORDER BY update_time DESC
    </select>

    <insert id="addCustomerAndContacts" parameterType="com.example.entity.request.CustomerReq">
        <selectKey keyColumn="cus_id" keyProperty="cusId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO customer(cus_name,abbreviation,cus_remark,cus_dict_source,emp_id)
        VALUES (#{cusName},#{abbreviation},#{cusRemark},#{cusDictSource},#{empId})
    </insert>

    <select id="getCustomerByName" resultMap="CustomerResult">
        SELECT cus_id,cus_name,life_cycle,first_signing_time,abbreviation,credit_id,settlement,sany_guest_id,
            company_account,province,city,detail_address,cus_remark,cus_dict_source,cus_dict_stage,
            qualitative_id,grading_id,ration_id,emp_id
        FROM customer
        WHERE cus_name = #{cusName}
    </select>

    <select id="listAll" resultMap="CustomerResult">
        SELECT cus_id,cus_name,life_cycle,first_signing_time,abbreviation,credit_id,settlement,sany_guest_id,
            company_account,province,city,detail_address,cus_remark,cus_dict_source,cus_dict_stage,
            qualitative_id,grading_id,ration_id,emp_id
        FROM customer
    </select>

    <select id="listCustomerByEmpId" resultMap="CustomerResult">
        SELECT cu.cus_id,cu.cus_name,cu.life_cycle,cu.first_signing_time,cu.abbreviation,cu.credit_id,cu.settlement,cu.sany_guest_id,
            cu.company_account,cu.province,cu.city,cu.detail_address,cu.cus_remark,cu.cus_dict_source,cu.cus_dict_stage,
            cu.qualitative_id,cu.grading_id,cu.ration_id,cu.emp_id,cu.create_time
        FROM customer cu
        INNER JOIN emp e ON e.emp_id = cu.emp_id
        <where>
            <if test="cusName != null and cusName != ''">
                AND cu.cus_name LIKE CONCAT('%',#{cusName},'%')
            </if>
            <if test="lifeCycle != null">
                AND cu.life_cycle = #{lifeCycle}
            </if>
            <if test="sanyGuestId != null">
                AND cu.sany_guest_id = #{sanyGuestId}
            </if>
            <if test="abbreviation != null and abbreviation != ''">
                AND cu.abbreviation LIKE CONCAT('%',#{abbreviation},'%')
            </if>
            <if test="creditId != null">
                AND cu.credit_id = #{creditId}
            </if>
            <if test="settlement != null">
                AND cu.settlement = #{settlement}
            </if>
            <if test="companyAccount != null and companyAccount != ''">
                AND cu.company_account LIKE CONCAT('%',#{companyAccount},'%')
            </if>
            <if test="empId != null">
                AND cu.emp_id = #{empId}
            </if>
            <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
                AND date_format(cu.create_time,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(cu.create_time,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
            <if test="starSigningDate != null and starSigningDate != ''">
                AND date_format(cu.first_signing_time,'%y%m%d') &gt;= date_format(#{starSigningDate},'%y%m%d')
            </if>
            <if test="endSigningDate != null and endSigningDate != ''">
                AND date_format(cu.first_signing_time,'%y%m%d') &lt;= date_format(#{endSigningDate},'%y%m%d')
            </if>
            <if test="cusDictSource != null">
                AND cu.cus_dict_source = #{cusDictSource}
            </if>
            <if test="cusDictStage != null">
                AND cu.cus_dict_stage = #{cusDictStage}
            </if>
            AND cu.is_delete = 0 AND e.emp_name = #{empName}
        </where>
        ORDER BY cu.update_time DESC
    </select>
</mapper>