<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.SzDeliverMingXiMapper">
    <resultMap id="MingxiResult" type="com.example.entity.request.SzDeliverMingxi">
        <id property="mingxiId" column="mingxi_id"/>
        <result property="mingxiState" column="mingxi_state"/>
        <result property="ddetId" column="ddet_id"/>
        <result property="productDetailId" column="product_detail_id"/>
    </resultMap>
    <resultMap id="MingxiAndDelDResult" type="com.example.entity.request.SzDeliverMingxi">
        <id property="mingxiId" column="mingxi_id"/>
        <result property="mingxiState" column="mingxi_state"/>
        <result property="ddetId" column="ddet_id"/>
        <result property="productDetailId" column="product_detail_id"/>
        <association property="szDeliverDetails" resultMap="DDetailsResult"/>
    </resultMap>
    <resultMap id="DDetailsResult" type="com.example.entity.request.SzDeliverDetails">
        <id property="ddetId" column="ddet_id"/>
        <result property="ddetNum" column="ddet_num"/>
        <result property="delId" column="del_id"/>
        <result property="productId" column="product_id"/>
    </resultMap>

    <insert id="addmingxiAndDDet" parameterType="java.util.List">
        <selectKey keyProperty="mingxiId" keyColumn="mingxi_id" resultType="Integer" order="AFTER">
            SELECT last_insert_id();
        </selectKey>
        insert into sz_deliver_mingxi(mingxi_state, ddet_id, product_detail_id) values
        (#{mingxiState},#{ddetId},#{productDetailId})
    </insert>
</mapper>
