<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.DemandMapper">
    <resultMap id="DemandResult" type="com.example.entity.response.DemandResp">
        <id column="demand_id" property="demandId"/>
        <result column="demand_title" property="demandTitle"/>
        <result column="demand_degree" property="demandDegree"/>
        <result column="demand_content" property="demandContent"/>
        <result column="is_solve" property="isSolve"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="contacts_id" property="contactsId"/>
        <result column="sale_id" property="saleId"/>
        <result column="emp_id" property="empId"/>
        <result column="cus_id" property="cusId"/>
    </resultMap>

    <resultMap id="DemandDetailResult" type="com.example.entity.response.DemandResp">
        <id column="demand_id" property="demandId"/>
        <result column="demand_title" property="demandTitle"/>
        <result column="demand_degree" property="demandDegree"/>
        <result column="demand_content" property="demandContent"/>
        <result column="is_solve" property="isSolve"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="contacts_id" property="contactsId"/>
        <result column="sale_id" property="saleId"/>
        <result column="emp_id" property="empId"/>
        <result column="cus_id" property="cusId"/>
        <collection property="solutionResps" resultMap="SolutionResult"/>
    </resultMap>

    <resultMap id="SolutionResult" type="com.example.entity.response.SolutionResp">
        <id column="solution_id" property="solutionId"/>
        <result column="solution_title" property="solutionTitle"/>
        <result column="create_time" property="createTime"/>
        <result column="content" property="content"/>
        <result column="feedback" property="feedback"/>
        <result column="version" property="version"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="cus_id" property="cusId"/>
        <result column="sale_id" property="saleId"/>
        <result column="demand_id" property="demandId"/>
    </resultMap>

    <insert id="addDemand" parameterType="com.example.entity.request.DemandReq">
        INSERT INTO demand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="demandTitle != null and demandTitle != ''">
                demand_title,
            </if>
            <if test="demandDegree != null">
                demand_degree,
            </if>
            <if test="demandContent != null and demandContent != ''">
                demand_content,
            </if>
            <if test="isSolve != null">
                is_solve,
            </if>
            <if test="contactsId != null">
                contacts_id,
            </if>
            <if test="saleId != null">
                sale_id,
            </if>
            <if test="empId != null">
                emp_id,
            </if>
            <if test="cusId != null">
                cus_id,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="demandTitle != null and demandTitle != ''">
                #{demandTitle},
            </if>
            <if test="demandDegree != null">
                #{demandDegree},
            </if>
            <if test="demandContent != null and demandContent != ''">
                #{demandContent},
            </if>
            <if test="isSolve != null">
                #{isSolve},
            </if>
            <if test="contactsId != null">
                #{contactsId},
            </if>
            <if test="saleId != null">
                #{saleId},
            </if>
            <if test="empId != null">
                #{empId},
            </if>
            <if test="cusId != null">
                #{cusId},
            </if>
        </trim>
    </insert>

    <update id="delDemand" parameterType="Integer">
        UPDATE demand SET is_delete = 1 WHERE demand_id = #{demandId}
    </update>

    <update id="editDemand" parameterType="com.example.entity.request.DemandReq">
        UPDATE demand SET update_time = #{updateTime},version = version + 1
        <if test="demandTitle != null and demandTitle != ''">
            ,demand_title = #{demandTitle}
        </if>
        <if test="demandDegree != null">
            ,demand_degree = #{demandDegree}
        </if>
        <if test="demandContent != null and demandContent != ''">
            ,demand_content = #{demandContent}
        </if>
        <if test="isSolve != null">
            ,is_solve = #{isSolve}
        </if>
        <if test="contactsId != null">
            ,contacts_id = #{contactsId}
        </if>
        <if test="saleId != null">
            ,sale_id = #{saleId}
        </if>
        <if test="empId != null">
            ,emp_id = #{empId}
        </if>
        <if test="cusId != null">
            ,cus_id = #{cusId}
        </if>
        WHERE demand_id = #{demandId} AND version = #{version}
    </update>

    <select id="getDemand" resultMap="DemandResult">
        SELECT demand_title,demand_degree,demand_content,is_solve,version,create_time,
        update_time,is_delete,contacts_id,sale_id,emp_id,cus_id
        FROM demand
        WHERE demand_id = #{demandId}
    </select>

    <select id="listDemand" resultMap="DemandDetailResult" parameterType="com.example.entity.request.DemandReq">
        SELECT de.demand_title,de.demand_degree,de.demand_content,de.is_solve,de.version,de.create_time,
        de.update_time,de.is_delete,de.contacts_id,de.sale_id,de.emp_id,de.cus_id
        so.solution_id,so.solution_title,so.create_time,so.content,so.feedback,so.version,so.update_time,
        so.is_delete,so.cus_id,so.sale_id,so.demand_id,
        FROM demand de
        INNER JOIN solution so ON de.demand_id = so.demand_id
        <where>
            <if test="demandTitle != null and demandTitle != ''">
                de.demand_title LIKE CONCAT ('%',#{demandTitle},'%')
            </if>
            <if test="demandDegree != null">
                de.demand_degree = #{demandDegree}
            </if>
            <if test="isSolve != null">
                de.is_solve = #{isSolve}
            </if>
            <if test="contactsId != null">
                de.contacts_id = #{contactsId}
            </if>
            <if test="saleId != null">
                de.sale_id = #{saleId}
            </if>
            <if test="empId != null">
                de.emp_id = #{empId}
            </if>
            <if test="cusId != null">
                de.cus_id = #{cusId}
            </if>
            <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
                AND date_format(de.create_time,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(de.create_time,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
            AND de.is_delete = 0
        </where>
        ORDER BY de.create_time DESC
    </select>
</mapper>