<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.OfferDetailMapper">
    <resultMap id="OfferDetailResult" type="com.example.entity.response.OfferDetailResp">
        <id column="offer_detail_id" property="offerDetailId"/>
        <result column="offer_detail_count" property="offerDetailCount"/>
        <result column="product_name" property="productName"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_model" property="productModel"/>
        <result column="product_price" property="productPrice"/>
        <result column="amount_money" property="amountMoney"/>
        <result column="remark" property="remark"/>
        <result column="offer_id" property="offerId"/>
        <result column="product_id" property="productId"/>
    </resultMap>

    <resultMap id="OfferDetailProductResult" type="com.example.entity.response.OfferDetailResp">
        <id column="offer_detail_id" property="offerDetailId"/>
        <result column="offer_detail_count" property="offerDetailCount"/>
        <result column="product_name" property="productName"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_model" property="productModel"/>
        <result column="product_price" property="productPrice"/>
        <result column="amount_money" property="amountMoney"/>
        <result column="remark" property="remark"/>
        <result column="offer_id" property="offerId"/>
        <result column="product_id" property="productId"/>
        <collection property="productResps" resultMap="ProductResult"/>
    </resultMap>

    <resultMap id="ProductResult" type="com.example.entity.response.ProductResp">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_image" property="productImage"/>
        <result column="product_model" property="productModel"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_stock" property="productStock"/>
        <result column="product_size" property="productSize"/>
        <result column="product_cost" property="productCost"/>
        <result column="product_status" property="productStatus"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <insert id="addOfferDetail" parameterType="com.example.entity.request.OfferDetailReq">
        INSERT INTO offer_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="offerDetailCount != null">
                offer_detail_count,
            </if>
            <if test="productName != null and productName != ''">
                product_name,
            </if>
            <if test="productBrand != null and productBrand != ''">
                product_brand,
            </if>
            <if test="productModel != null and productModel != ''">
                product_model,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="amountMoney != null">
                amount_money,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="offerId != null">
                offer_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="offerDetailCount != null">
                #{offerDetailCount},
            </if>
            <if test="productName != null and productName != ''">
                #{productName},
            </if>
            <if test="productBrand != null and productBrand != ''">
                #{productBrand},
            </if>
            <if test="productModel != null and productModel != ''">
                #{productModel},
            </if>
            <if test="productPrice != null">
                #{productPrice},
            </if>
            <if test="amountMoney != null">
                #{amountMoney},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="offerId != null">
                #{offerId},
            </if>
            <if test="productId != null">
                #{productId},
            </if>
        </trim>
    </insert>

    <select id="getOfferDetail" resultMap="OfferDetailProductResult">
        SELECT od.offer_detail_id,od.offer_detail_count,od.product_name,od.product_price,od.amount_money,
        od.product_brand,od.product_model,
        od.remark,od.offer_id,d.product_id,d.product_name,d.product_model,d.product_price,d.product_brand,
        d.product_stock,d.product_size,d.product_cost,d.product_status,d.remark
        FROM offer_detail od
        INNER JOIN product d ON od.product_id = d.product_id
        WHERE od.offer_detail_id = #{offerDetailId}
    </select>

    <select id="listOfferDetail" resultMap="OfferDetailProductResult">
        SELECT od.offer_detail_id,od.offer_detail_count,od.product_name,od.product_brand,od.product_model,
        od.product_price,od.amount_money,
        od.remark,od.offer_id,d.product_id,d.product_name,d.product_model,d.product_price,d.product_brand,
        d.product_stock,d.product_size,d.product_cost,d.product_status,d.remark
        FROM offer_detail od
        INNER JOIN product d ON od.product_id = d.product_id
        <where>
            <if test="offerId != null">
                od.offer_id = #{offerId}
            </if>
        </where>
    </select>

    <select id="getOfferDetailByOffer" resultMap="OfferDetailProductResult">
        SELECT od.offer_detail_id,od.offer_detail_count,od.product_name,od.product_brand,od.product_model,
        od.product_price,od.amount_money,
        od.remark,od.offer_id,d.product_id,d.product_name,d.product_model,d.product_price,d.product_brand,
        d.product_stock,d.product_size,d.product_cost,d.product_status,d.remark
        FROM offer_detail od
        INNER JOIN product d ON od.product_id = d.product_id
        WHERE od.offer_id = #{offerId}
    </select>

    <update id="editOfferDetail" parameterType="com.example.entity.request.OfferDetailReq">
        UPDATE offer_detail
        <set>
            <if test="offerDetailCount != null">
                offer_detail_count = #{offerDetailCount},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="productBrand != null and productBrand != ''">
                product_brand = #{productBrand},
            </if>
            <if test="productModel != null and productModel != ''">
                product_model = #{productModel},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice},
            </if>
            <if test="amountMoney != null">
                amount_money = #{amountMoney},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark}
            </if>
        </set>
        WHERE offer_detail_id = #{offerDetailId}
    </update>

    <delete id="delOfferDetail">
        DELETE FROM offer_detail WHERE offer_detail_id = #{offerDetailId}
    </delete>
</mapper>