<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.szOrderMapper">
    <resultMap id="szOrderResult" type="com.example.entity.request.szOrder">
        <id property="ordId" column="ord_id"/>
        <result property="ordHead" column="ord_head"/>
        <result property="ordTotalmoney" column="ord_totalmoney"/>
        <result property="ordCreatetime" column="ord_createtime"/>
        <result property="ordDealtime" column="ord_dealtime"/>
        <result property="ordFahuotime" column="ord_fahuotime"/>
        <result property="ordHuikuanmoney" column="ord_huikuanmoney"/>
        <result property="ordConsignee" column="ord_consignee"/>
        <result property="ordProvince" column="ord_province"/>
        <result property="ordCity" column="ord_city"/>
        <result property="ordCountry" column="ord_country"/>
        <result property="ordPhone" column="ord_phone"/>
    </resultMap>

</mapper>