<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.ProductMapper">
    <resultMap id="ProductResult" type="com.example.entity.response.ProductResp">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_image" property="productImage"/>
        <result column="product_model" property="productModel"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_stock" property="productStock"/>
        <result column="product_size" property="productSize"/>
        <result column="product_cost" property="productCost"/>
        <result column="product_status" property="productStatus"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <insert id="addProduct" parameterType="com.example.entity.request.ProductReq">
        <selectKey keyColumn="product_id" keyProperty="productId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO product(product_name,product_image,product_model,product_price,product_brand,
                product_stock,product_size,product_cost,product_status,remark)
        VALUES (#{productName},#{productImage},#{productModel},#{productPrice},#{productBrand},
            #{productStock},#{productSize},#{productCost},#{productStatus},#{remark})
    </insert>

    <update id="delProduct">
        UPDATE product SET is_delete = 1 WHERE product_id = #{productId}
    </update>

    <update id="editProduct" parameterType="com.example.entity.request.ProductReq">
        UPDATE product SET update_time = #{updateTime},version = version + 1
        <if test="productName != null and productName != ''">
            ,product_name = #{productName}
        </if>
        <if test="productImage != null and productImage != ''">
            ,product_image = #{productImage}
        </if>
        <if test="productModel != null and productModel != ''">
            ,product_model = #{productModel}
        </if>
        <if test="productPrice != null">
            ,product_price = #{productPrice}
        </if>
        <if test="productModel != null and productModel != ''">
            ,product_model = #{productModel}
        </if>
        <if test="productStock != null">
            ,product_stock = #{productStock}
        </if>
        <if test="productSize != null and productSize != ''">
            ,product_size = #{productSize}
        </if>
        <if test="productCost != null">
            ,product_cost = #{productCost}
        </if>
        <if test="productStatus != null">
            ,product_status = #{productStatus}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        WHERE product_id = #{productId}
    </update>

    <select id="getProduct" resultMap="ProductResult">
        SELECT product_id,product_name,product_image,product_model,product_price,product_brand,
                product_stock,product_size,product_cost,product_status,remark,
                version,create_time,update_time,is_delete
        FROM product WHERE product_id = #{productId}
    </select>

    <select id="listProduct" resultMap="ProductResult">
        SELECT product_id,product_name,product_image,product_model,product_price,product_brand,
                product_stock,product_size,product_cost,product_status,remark,
                version,create_time,update_time,is_delete
        FROM product
        <where>
            <if test="productName != null and productName != ''">
                AND product_name LIKE CONCAT('%',#{productName},'%')
            </if>
            <if test="productModel != null and productModel != ''">
                AND product_model LIKE CONCAT('%',#{productModel},'%')
            </if>
            <!--<if test="productPrice != null">
                AND product_price = #{productPrice}
            </if>-->
            <if test="productStartPrice != null and productStartPrice != 0">
                AND product_price <![CDATA[>=]]> #{productStartPrice}
            </if>
            <if test="productEndPrice != null and productEndPrice != 0">
                AND product_price <![CDATA[<=]]> #{productEndPrice}
            </if>
            <if test="productBrand != null and productBrand != ''">
                AND product_brand LIKE CONCAT('%',#{productBrand},'%')
            </if>
            <if test="productStock != null">
                AND product_stock = #{productStock}
            </if>
            <if test="productSize != null and productSize != ''">
                AND product_size LIKE CONCAT('%',#{productSize},'%')
            </if>
            <!--<if test="productCost != null">
                AND product_cost = #{productCost}
            </if>-->
            <if test="productStartCost != null and productStartCost != 0">
                AND product_cost <![CDATA[>=]]> #{productStartCost}
            </if>
            <if test="productEndCost != null and productEndCost != 0">
                AND product_cost <![CDATA[<=]]> #{productEndCost}
            </if>
            <if test="productStatus != null">
                AND product_status = #{productStatus}
            </if>
            <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
            AND is_delete = 0
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="batchAddProduct" parameterType="java.util.List">
        INSERT INTO product(product_name,product_image,product_model,product_price,product_brand,
                product_stock,product_size,product_cost,product_status,remark)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.productName},#{item.productImage},#{item.productModel},#{item.productPrice},
            #{item.productBrand},#{item.productStock},#{item.productSize},#{item.productCost},
            #{item.productStatus},#{item.remark})
        </foreach>
    </insert>

    <select id="getProductByName" resultMap="ProductResult">
        SELECT product_id,product_name,product_image,product_model,product_price,product_brand,
                product_stock,product_size,product_cost,product_status,remark,
                version,create_time,update_time,is_delete
        FROM product WHERE product_name = #{productName}
    </select>
</mapper>