<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.ProductDetailMapper">
    <resultMap id="ProductDetailResult" type="com.example.entity.ProductDetail">
        <id column="product_detail_id" property="productDetailId"/>
        <result column="product_id" property="productId"/>
        <result column="product_bar_code" property="productBarCode"/>
        <result column="product_detail_state" property="productDetailState"/>
    </resultMap>

    <resultMap id="ProductDetail_Result" type="com.example.entity.ProductDetail">
        <id column="product_detail_id" property="productDetailId"/>
        <result column="product_id" property="productId"/>
        <result column="product_bar_code" property="productBarCode"/>
        <association property="productResp" resultMap="ProductResult"/>
    </resultMap>

    <resultMap id="ProductResult" type="com.example.entity.response.ProductResp">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_image" property="productImage"/>
        <result column="product_model" property="productModel"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_stock" property="productStock"/>
        <result column="product_size" property="productSize"/>
        <result column="product_cost" property="productCost"/>
        <result column="product_bar_code" property="productBarCode"/>
        <result column="product_status" property="productStatus"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <insert id="addProductDetail" parameterType="com.example.entity.ProductDetail">
        INSERT INTO product_detail(product_id,product_bar_code,product_detail_state) VALUES
        (#{productId},#{productBarCode},#{productDetailState})
    </insert>

    <update id="delProductDetail" parameterType="Integer">
        DELETE FROM product_detail WHERE product_detail_id = #{productDetailId}
    </update>

    <update id="editProductDetail" parameterType="com.example.entity.ProductDetail">
        UPDATE product_detail SET WHERE 1 = 1
        <if test="productId != null">
            ,product_id = #{productId}
        </if>
        <if test="productBarCode != null and productBarCode != ''">
            ,product_bar_code = #{productBarCode}
        </if>
        WHERE product_detail_id = #{productDetailId}
    </update>

    <select id="getDetail" resultMap="ProductDetail_Result">
        SELECT a.*,b.*
        FROM product_detail a
        INNER JOIN product b ON b.product_id = a.product_id
        WHERE a.product_detail_id = #{productDetailId}
    </select>

    <insert id="batchAddProductDetail" parameterType="java.util.List">
        INSERT INTO product_detail(product_id,product_bar_code)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.productId},#{item.productBarCode})
        </foreach>
    </insert>

    <select id="getDetailByProductId" resultMap="ProductDetailResult">
        SELECT * FROM product_detail WHERE product_detail_state=0 AND  product_id = #{productId}
    </select>

    <!--发货时 新增发货明细 同时 修改 产品详情的库存状态为出库-->
    <update id="mx_editProDetail">
        UPDATE product_detail set product_detail_state =1
        WHERE product_detail_id = #{id}
    </update>
</mapper>