<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.RationMapper">
    <resultMap id="RationResult" type="com.example.entity.Ration">
        <id column="ration_id" property="rationId"/>
        <result column="ration_icon" property="rationIcon"/>
        <result column="ration_name" property="rationName"/>
        <result column="ration_time" property="rationTime"/>
        <result column="expect_signing_time" property="expectSigningTime"/>
        <result column="expect_signing_price" property="expectSigningPrice"/>
        <result column="expect_signing_number" property="expectSigningNumber"/>
        <result column="cus_id" property="cusId"/>
        <result column="ration_emp_id" property="rationEmpId"/>
    </resultMap>

    <insert id="addRation" parameterType="com.example.entity.Ration">
        INSERT INTO ration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rationIcon != null and rationIcon != ''">
                ration_icon,
            </if>
            <if test="rationName != null and rationName != ''">
                ration_name,
            </if>
            <if test="rationTime != null and rationTime != ''">
                ration_time,
            </if>
            <if test="expectSigningTime != null">
                expect_signing_time,
            </if>
            <if test="expectSigningPrice != null">
                expect_signing_price,
            </if>
            <if test="expectSigningNumber != null">
                expect_signing_number,
            </if>
            <if test="cusId != null">
                cus_id,
            </if>
            <if test="rationEmpId != null">
                ration_emp_id,
            </if>
        </trim>
        <trim prefix="VALUES (" suffixOverrides="," suffix=")">
            <if test="rationIcon != null and rationIcon != ''">
                #{rationIcon},
            </if>
            <if test="rationName != null and rationName != ''">
                #{rationName},
            </if>
            <if test="rationTime != null and rationTime != ''">
                #{rationTime},
            </if>
            <if test="expectSigningTime != null">
                #{expectSigningTime},
            </if>
            <if test="expectSigningPrice != null">
                #{expectSigningPrice},
            </if>
            <if test="expectSigningNumber != null">
                #{expectSigningNumber},
            </if>
            <if test="cusId != null">
                #{cusId},
            </if>
            <if test="rationEmpId != null">
                #{rationEmpId},
            </if>
        </trim>
    </insert>

    <select id="listRation" resultMap="RationResult">
        SELECT ration_id,ration_icon,ration_name,ration_time,expect_signing_number,
        expect_sigining_time,expect_signing_price,cus_id,ration_emp_id
        <where>
            <if test="rationIcon != null and rationIcon != ''">
                AND ration_icon = #{rationIcon}
            </if>
            <if test="rationName != null and rationName != ''">
                AND ration_name = #{rationName}
            </if>
            <if test="cusId != null">
                AND cus_id = #{cusId}
            </if>
            <if test="rationEmpId != null">
                AND ration_emp_id = #{rationEmpId}
            </if>
        </where>
    </select>
</mapper>