<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.SzReceivableRecordMapper">
    <resultMap id="RecordResult" type="com.example.entity.request.SzReceivableRecord">
        <id property="recoId" column="reco_id"/>
        <result property="recoReceivable" column="reco_receivable"/>
        <result property="recoCaozuopeople" column="reco_caozuopeople"/>
        <result property="recoTime" column="reco_time"/>
        <result property="recoMoney" column="reco_money"/>
        <result property="recoLiushui" column="reco_liushui"/>
        <result property="recordPlan" column="record_plan"/>
        <result property="timePlan" column="time_plan"/>
        <result property="moneyPlan" column="money_plan"/>
        <result property="recoCreatetime" column="reco_createtime"/>
        <result property="recoHasmoney" column="reco_hasmoney"/>
        <result property="planId" column="plan_id"/>
    </resultMap>

    <resultMap id="RecordANDPlanResult" type="com.example.entity.request.SzReceivableRecord">
        <id property="recoId" column="reco_id"/>
        <result property="recoReceivable" column="reco_receivable"/>
        <result property="recoCaozuopeople" column="reco_caozuopeople"/>
        <result property="recoTime" column="reco_time"/>
        <result property="recoMoney" column="reco_money"/>
        <result property="recoLiushui" column="reco_liushui"/>
        <result property="recordPlan" column="record_plan"/>
        <result property="timePlan" column="time_plan"/>
        <result property="moneyPlan" column="money_plan"/>
        <result property="recoCreatetime" column="reco_createtime"/>
        <result property="recoHasmoney" column="reco_hasmoney"/>
        <result property="planId" column="plan_id"/>
        <association property="szReceivablePlan" resultMap="szReceivablePlan"/>
    </resultMap>

    <resultMap id="szPlanResult" type="com.example.entity.request.SzReceivablePlan">
        <id property="planId" column="plan_id"/>
        <result property="planMoney" column="plan_money"/>
        <result property="planTime" column="plan_time"/>
        <result property="planPeriod" column="plan_period"/>
        <result property="planCaozuopeople" column="plan_caozuopeople"/>
        <result property="planCaozuotime" column="plan_caozuotime"/>
        <result property="planInvoice" column="plan_invoice"/>
        <result property="planDel" column="plan_del"/>
        <result property="ordId" column="ord_id"/>
        <result property="empId" column="emp_id"/>
    </resultMap>

    <!--回款记录-->
    <select id="getszReco" resultMap="RecordResult">
        SELECT * FROM sz_receivable_record WHERE reco_id = #{recoId}
    </select>

    <!--回款计划和回款记录-->
    <select id="listPlanANDReco" resultMap="RecordResult">
        SELECT reco_id, reco_receivable, reco_caozuopeople, reco_time, reco_hasmoney,reco_money, reco_liushui, record_plan, time_plan, money_plan,reco_createtime, plan_id
         FROM sz_receivable_record WHERE plan_id=#{recoId}
    </select>
    <!--增-->
    <insert id="addPlanANDReco" parameterType="java.util.List">
        INSERT INTO sz_receivable_record(reco_receivable, reco_caozuopeople, reco_time, reco_money, reco_liushui,
         record_plan, time_plan,reco_hasmoney,money_plan, plan_id)
        VALUES
    <foreach  collection="list" item="item" separator="," >
        (#{item.recoReceivable},#{item.recoCaozuopeople},#{item.recoTime},#{item.recoMoney},#{item.recoLiushui},#{item.recordPlan},#{item.timePlan},0,#{item.moneyPlan},#{item.planId})
    </foreach>
    </insert>
<!---->
    <update id="editszRecoHas" parameterType="com.example.entity.request.SzReceivableRecord">
        update sz_receivable_record set reco_id=reco_id
        <if test="recoTime != null">
            ,reco_time = #{recoTime}
        </if>

        ,reco_hasmoney = reco_hasmoney+#{recoMoney}

        <if test="recoLiushui !=null and recoLiushui != ''">
            ,reco_liushui = #{recoLiushui}
        </if>
        where reco_id = #{recoId}
    </update>
<!--     <update id="editszRecoHas" parameterType="com.example.entity.request.SzReceivableRecord">
        update sz_receivable_record set reco_id=reco_id
        <if test="recoTime != null">
            ,reco_time = #{recoTime}
        </if>
        ,reco_hasmoney = reco_hasmoney+#{recoMoney}
        ,reco_liushui = #{recoLiushui}
        where reco_id = #{recoId}
    </update>-->
</mapper>
