<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.SzReceivablePlanMapper">
    <resultMap id="szPlanResult" type="com.example.entity.request.SzReceivablePlan">
        <id property="planId" column="plan_id"/>
        <result property="planMoney" column="plan_money"/>
        <result property="planTime" column="plan_time"/>
        <result property="planPeriod" column="plan_period"/>
        <result property="planCaozuopeople" column="plan_caozuopeople"/>
        <result property="planCaozuotime" column="plan_caozuotime"/>
        <result property="planInvoice" column="plan_invoice"/>
        <result property="planDel" column="plan_del"/>
        <result property="ordId" column="ord_id"/>
    </resultMap>
    <select id="listszPlan" resultMap="szPlanResult">
        SELECT p.*,s.*
        FROM sz_receivable_plan p
        left join sz_order s on p.ord_id=s.ord_id
        <where>
            <if test="planTime != null and planTime !='' ">
                AND p.plan_time LIKE CONCAT('%',#{planTime})
            </if>
            <if test="planMoney != null and planMoney !='' ">
                AND p.plan_money LIKE CONCAT('%',#{planMoney})
            </if>
            <if test="planPeriod != null and planPeriod !='' ">
                AND p.plan_period LIKE CONCAT('%',#{planPeriod})
            </if>
            <if test="planCaozuopeople != null and planCaozuopeople !='' ">
                AND p.plan_caozuopeople LIKE CONCAT('%',#{planCaozuopeople})
            </if>
            <if test="planInvoice != null">
                AND p.plan_invoice = #{planInvoice})
            </if>
            <if test="ordId != null">
                and p.ord_id=#{ordId}
            </if>
            AND p.plan_del = 0
        </where>
        ORDER BY plan_money DESC
    </select>

    <select id="getszPlan" resultMap="szPlanResult">
        SELECT * FROM sz_receivable_plan WHERE plan_id = #{planId}
    </select>

    <insert id="addPlan" parameterType="com.example.entity.request.SzReceivablePlan">
        <selectKey keyProperty="planId" keyColumn="plan_id" resultType="Integer" order="AFTER">
            SELECT last_insert_id();
        </selectKey>
            insert into sz_receivable_plan(plan_money, plan_time, plan_period, plan_caozuopeople, plan_caozuotime, plan_invoice, ord_id) values
            (#{planMoney},#{planTime},#{planPeriod},#{planCaozuopeople},#{planCaozuotime},#{planInvoice},#{ordId})
    </insert>

    <update id="delszPlan" parameterType="Integer">
        UPDATE sz_receivable_plan SET plan_del = 1
        WHERE plan_id = #{planId}
    </update>

    <update id="editszPlan" parameterType="SzReceivablePlan">
        update sz_receivable_plan set plan_caozuotime = #{planCaozuotime}
        <if test="planMoney !=null and planMoney != ''">
            ,plan_money = #{planMoney}
        </if>
        <if test="planTime !=null and planTime != ''">
            ,plan_time = #{planTime}
        </if>
        <if test="planPeriod !=null and planPeriod != ''">
            ,plan_period = #{planPeriod}
        </if>
        <if test="planCaozuopeople !=null and planCaozuopeople != ''">
            ,plan_caozuopeople = #{planCaozuopeople}
        </if>
        <if test="planInvoice !=null and planInvoice != ''">
            ,plan_invoice = #{planInvoice}
        </if>
        where plan_id = #{planId}
    </update>

</mapper>
