<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.model.mapper.SyslogMapper">
    <resultMap id="SyslogResult" type="com.example.entity.request.Syslog">
        <id property="logId" column="log_id"/>
        <result property="logTitle" column="log_title"/>
        <result property="userId" column="emp_id"/>
        <result property="logMethod" column="method"/>
        <result property="logContent" column="content"/>
        <result property="logIp" column="ip"/>
        <result property="logUri" column="uri"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="listSyslog" resultMap="SyslogResult">
        SELECT log_id,log_title,user_id,method,content,ip,uri,create_time
        FROM sys_log
        <where>
            <if test="logTitle != null and logTitle != ''">
                AND log_title LIKE CONCAT('%',#{logTitle},'%')
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="startDate != null and startDate != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>