@font-face {
  font-family: 'HYYouRanTiJRegular';
  src: url("HYYouRanTiJRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SentyCandy-color';
  src: url("SentyCandy-color.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WenDingHuangYangJianWeiTi';
  src: url("WenDingHuangYangJianWeiTi.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '小豆岛默陌乐童简';
  src: url("XiaoDouDao.ttf");
  font-weight: normal;
  font-style: normal;
}
