@font-face {
  font-family: 'EatnCake';
  src: url("EatnCake.ttf");
}
@font-face {
  font-family: 'FactoryLJDS';
  src: url("FactoryLJDS.ttf");
}
@font-face {
  font-family: 'GuysMyAgeTTF';
  src: url("GuysMyAgeTTF.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HighTideDemo';
  src: url("HighTideDemo.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HighVoltageDemo';
  src: url("HighVoltageDemo.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inkbleeda';
  src: url("Inkbleeda.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JACKYSHOW';
  src: url("JACKYSHOW.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'K26Rambunctious';
  src: url("K26Rambunctious.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KahirPersonalUse';
  src: url("KahirPersonalUse.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KasihDansayang';
  src: url("KasihDansayang.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KasihDansayang-bold';
  src: url("KasihDansayang-bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KendalType';
  src: url("KendalType.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KissMeorNotTTF';
  src: url("KissMeorNotTTF.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LifeinDigitalAge';
  src: url("LifeinDigitalAge.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillionNotesDemo';
  src: url("MillionNotesDemo.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MooMoo';
  src: url("MooMoo.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MorningCalm';
  src: url("MorningCalm.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vampire-Calligraphy';
  src: url("Vampire-Calligraphy.ttf");
  font-weight: normal;
  font-style: normal;
}
